<div class="container">

  <div class="form-control">

    <h1>Password Generator</h1>

    <div>
      <label for="">Enter Length</label>

      <input (input)="onChangeLength($event.target.value)">

    </div>

    <div>
      <label for="">
        Use Letter
      </label>
      <input type="checkbox" (change)="onLetterSelect()">
    </div>
    <div>
      <label for="">
        Use Number
      </label>
      <input type="checkbox" (change)="numberOn()">
    </div>
    <div>
      <label for="">
        Use Symbol
      </label>
      <input type="checkbox" (change)="symbolOn()">
    </div>

    <div>
      <button [disabled]="!(length&&(numbersecildimi||lettersecildimi||symbolsecildimi))"
        (click)="butonaTikla()">Generator</button>

    </div>

    <div class="box" *ngIf="password">
      <label for="">Your Password</label>
      <input type="text" [value]="password">
    </div>
  </div>
</div>